@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.debug-border {
    border: 2px solid red;
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap:1rem;
}